LOGGER_LEVEL=DEBUG

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=__undefined__
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SCHEMA=content

ETL_BATCHSIZE=50
ETL_STATEFILE=state.json
ETL_DELAY=5

ELASTIC_URL=http://localhost:9200

PROJECT_NAME=Read-only API для онлайн-кинотеатра

REDIS_DSN=redis://localhost:6379

GUNICORN_HOST=0.0.0.0
GUNICORN_PORT=8000

SERVICE_URL=http://localhost:8000

AUTH_POSTGRES_DB=movies_database
AUTH_POSTGRES_USER=app
AUTH_POSTGRES_PASSWORD=__undefined__
AUTH_POSTGRES_HOST=localhost
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_SCHEMA=auth

JWT_SECRET_KEY=__undefined__
